*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-column: 1fr, 1fr, 1fr,1fr; 
    grid-row: 1fr, 1fr, 1fr; 
    grid-template-areas:     
    "header header header header"
    "content content content content"
    "footer footer footer footer";
}

.mainNav{
     
}
