$primary: #221212;
$leftPn_background_color: #008081;
$leftPn_text_color: #FFFDD0;

.main{
    background-color:  rgb(119, 219, 119);
}

#topPanel{
    background: rgb(119, 219, 119);
    border: #221212;
    height:100%;
    width:100%;
    background:#29afd1;
    display:inline-block;
    border-radius:500px;
    margin:0;
    position: relative;
    padding:50px;
}

#leftPanel {
    height: 95%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 0;
    background-color: rgba(black,0.7);
    overflow-x: hidden;
    padding-top: 0px;

}

#leftPanel_Title{
    background-color: #008081;
    text-align: "center";
    color: $leftPn_text_color;
    align-content: center;
    text-align: center;
    padding: 5px;
}

#leftPanel button{
    margin-top: 20px;  
    background-color:$leftPn_background_color;
    color:$leftPn_text_color;   
    align-content: center;
    box-align: center;
    align-items: center;
}


#rightPanel{
    height: 100%;
    width: 90%;
    position: fixed;
    z-index: 1;
    top: 20%;
    right: 0;
    background-color: rgba(black,0.2);
    overflow-x: hidden;
    padding-top: 20px;
}

